---
import type { CardOptions, OptionPart } from "../types";
type Props = OptionPart & Pick<CardOptions, "priceMod">;
const { title, value, priceMod, image } = Astro.props;
---

<div
  style={{ "background-image": image }}
  class='cardOption flex-1 flex flex-col justify-between pointer-events-none first-of-type:pointer-events-auto'
>
  <h4 class='title'>{title}</h4>
  <h5 data-mod={priceMod} data-value={value}></h5>
</div>
