---
import { priceAmountId } from "./constants";
---

<script>
  import mainPageStore from "../../stores/mainPage/mainPage";
  import { priceAmountId } from "./constants";

  const priceNode = document.getElementById(priceAmountId)!;

  mainPageStore.subscribe(
    ({ price }) => price,
    (price) => {
      priceNode.textContent = price + "";
    }
  );
</script>
<div class='py-4 mx-auto'>
  <h2>Price</h2>
  <h3 id={priceAmountId}>0</h3>
</div>
