---
import { priceAmountId } from "./constants";
---

<script>
  import mainPageStore from "../../stores/mainPage/mainPage";
  import { priceAmountId } from "./constants";

  const priceNode = document.getElementById(priceAmountId)!;

  const setPrice = (price: number) => {
    priceNode.textContent = price + "";
  };
  setPrice(mainPageStore.getState().price);
  mainPageStore.subscribe(({ price }) => price, setPrice);
</script>
<div class='py-4 mx-auto'>
  <h2>Price</h2>
  <h3 id={priceAmountId}></h3>
</div>
