---
import { priceAmountId } from "./constants";
---

<script>
  import mainPageStore from "../../stores/mainPage/mainPage";
  import { priceAmountId } from "./constants";

  const priceNode = document.getElementById(priceAmountId)!;

  const setPrice = (price: number) => {
    priceNode.textContent = price + "";
  };
  setPrice(mainPageStore.getState().price);
  mainPageStore.subscribe(({ price }) => price, setPrice);
</script>
<div class='py-4 mx-auto'>
  <h2 class="text-xl font-light uppercase text-primary-700">Price</h2>
  <h3 class="text-secondary-800 font-medium" id={priceAmountId}></h3>
</div>
