---
import { stages } from "./mock";
import Stage from "../Stage/Stage.astro";
import Price from "../Price/Price.astro";
---

<script>
  import { stage } from "../../utils/stages";
  import {
    handleNextStage,
    initializeStage,
    makeChoice,
  } from "./stageProgression";

  function cardHandler(card: HTMLElement) {
    makeChoice(card.id);
    handleNextStage(cardHandler);
  }

  if (stage.current) {
    initializeStage(stage.current, cardHandler);
  }
</script>

<header>
  <Price />
</header>
<main>
  {stages.map((props, i) => <Stage {...props} initiallyShown={i === 0} />)}
</main>
