---
import { stages } from "./mock";
import Stage from "../Stage/Stage.astro";
import Price from "../Price/Price.astro";
---

<header>
  <Price />
</header>
<main>
  {stages.map((props, i) => <Stage {...props} initiallyShown={i === 0} />)}
</main>
