---
import { stages } from "./mock";
import Stage from "./Stage.astro";
import Price from "../Price/Price.astro";
import Choices from "../Choices/Choices";
---

<header class="flex flex-col gap-8 p-4 bg-stone-300">
	<Choices client:idle />
</header>
<main class=''>
	<Price />
  {stages.map((props, i) => <Stage {...props} initiallyShown={i === 0} />)}
	<Stage title="Thank you!"/>
</main>
