---
interface Props {
  title: string;
  class?: string;
  description?: string;
}
const { title, description, class: className } = Astro.props;
---

<div class="mb-4 p-4">
	<h2
		class={`motion-safe:animate-appear-300 text-3xl font-thin uppercase max-w-3xl mx-auto ${
			className || ""
		}`}
	>
		{title}
	</h2>
	{description && <p class="motion-safe:animate-appear-300 font-thin max-w-xl mx-auto">{description}</p>}
</div>
