---
import AnimatedDetails from "../AnimatedDetails/AnimatedDetails.astro";

---

<form id="submit-order" class="h-full w-96 flex justify-between flex-col gap-4 max-w-full p-4 mx-auto motion-safe:animate-appear-300">
	<div class="flex justify-center flex-col">
		<label for="submit-order-email">Twój email</label>
		<input id="submit-order-email" type="email" name="email" class="p-2 rounded bg-stone-200" required/>
	</div>
	<AnimatedDetails summary="Extra information">
		<textarea id="submit-order-extra-info" name="extra-info" class="p-2 rounded bg-stone-200 resize-none w-full"></textarea>
	</AnimatedDetails>
	<button type="submit" class="bg-stone-200 p-4 rounded">Send email</button>
</form>